<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60640260678-1vsu2ld9n9cibh0creoou8fj0eac09ql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60640260678-1vsu2ld9n9cibh0creoou8fj0eac09ql</string>
	<key>API_KEY</key>
	<string>AIzaSyDoyI_8f2MCjY2dkveYJ8KiDEEjbYCacAY</string>
	<key>GCM_SENDER_ID</key>
	<string>60640260678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digital3</string>
	<key>PROJECT_ID</key>
	<string>digital-3-4b092</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-3-4b092.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60640260678:ios:8c0d6cb3cef381abc09047</string>
</dict>
</plist>